<div class="panel panel-primary">
  <div class="panel-heading">Edit of the article id <%= @article.id %></div>

  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to "Go back to the list of articles", articles_path %>
  </div>
</div>
