<div class="panel panel-primary">

  <div class="panel-heading"><% if admin? %>
    <%= "Edit this profile" %>
  <% else %>
    <%= "Edit your profile"  %>
  <% end %></div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
