<% if object.errors.any? %>
<h2>The following <% pluralize(object.errors.count, "error") %> occured during the user creation</h2>

<ul>
  <% object.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
