<div class="page-header">
  <h1>TEMP HOMEPAGE <small>It's just a visual idea!! Will mostly be changed!</small></h1>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Popular Posts</div>
  <div class="panel-body">
    <div class="row">
      <!-- TEMP: WILL BE GENERATED FROM RUBY -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Read Full Article</a></p>
          </div>
        </div>
      </div>
      <!-- TEMP: HARD REPEAT FOR MOCKUP -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Read Full Article</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Recent Posts</div>
  <div class="panel-body">
    <div class="row">
      <!-- TEMP: WILL BE GENERATED FROM RUBY -->
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Read Full Article</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <!-- TEMP: ONLY FOR TEMP DEBUG, WILL BE REMOVED -->
  <div class="panel-heading">DEBUG CONTENT ONLY: WILL BE REMOVED SOON</div>
  <div class="panel-body">
    <h2>Mockups</h2>
    <%= link_to 'Go to blog main mockup page', blog_home_path %><br/>
    <%= link_to 'Go to blog search mockup page', blog_home_path %>
    <h2>Prototypes</h2>
    <%= link_to 'Go to prototype of blog page', articles_path %>
  </div>
</div>
