<h1>This is blog main mockup page</h1>

<%= link_to 'Go to the blog search mockup page', blog_search_path %>
<%= link_to 'Go to the main home page', root_path %>

<%= link_to image_tag('mockups/desktop_blog_view.png', width:"100%"), 'https://github.com/HE-Arc/Finance_Cloud' %>
